package main

import (
	"fmt"

	"drjosh.dev/exp"
)

// Advent of Code {{.Y}}
// Day {{.D}}{{if .P}}, part {{.P}}{{end}}

const inputPath = "{{.Y}}/inputs/{{.D}}.txt"

func main() {
	lines := exp.MustReadLines(inputPath)
	sum := 0
	for _, line := range lines {
		sum += exp.MustAtoi(line)
	}
	fmt.Println(sum)
}